<!DOCTYPE html>
<html>

<head>
    <title>Stream</title>
</head>

<body>
    <video id="localStream" width="300" controls></video>
    <br /></br />
    <video id="friendStream" width="300" controls></video>
    <br /></br />
    <label>My Connection</label>
    <br /></br />
    <textarea rows="3" cols="100" id="txtMySignal"></textarea>
    <br /></br />
    <br /></br />
    <input type="text" placeholder="You friend's Signal" id="txtFriendSignal">
    <br /></br />
    <button id="btnConnect">Connect</button>
</body>

<script src ="bundle.js"></script>

</html>